In [1]:
import numpy as np
import pandas as pd

pd.__version__

'1.3.4'

In [2]:
df_bicicletas = pd.read_csv("./db_bien/london_merged.csv")
df_bicicletas

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [3]:
#reconocer el tipo de variables
df_bicicletas.dtypes

timestamp        object
cnt               int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code    float64
is_holiday      float64
is_weekend      float64
season          float64
dtype: object

In [4]:
df_bicicletas["timestamp"] = pd.to_datetime(df_bicicletas["timestamp"])
df_bicicletas

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [5]:
df_bicicletas["hora"] = df_bicicletas["timestamp"]
df_bicicletas["hora"]

0       2015-01-04 00:00:00
1       2015-01-04 01:00:00
2       2015-01-04 02:00:00
3       2015-01-04 03:00:00
4       2015-01-04 04:00:00
                ...
17409   2017-01-03 19:00:00
17410   2017-01-03 20:00:00
17411   2017-01-03 21:00:00
17412   2017-01-03 22:00:00
17413   2017-01-03 23:00:00
Name: hora, Length: 17414, dtype: datetime64[ns]

In [16]:
df = df_bicicletas.iloc[:,1:]
df

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,hora
0,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0,2015-01-04 00:00:00
1,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0,2015-01-04 01:00:00
2,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0,2015-01-04 02:00:00
3,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0,2015-01-04 03:00:00
4,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0,2015-01-04 04:00:00
...,...,...,...,...,...,...,...,...,...,...
17409,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0,2017-01-03 19:00:00
17410,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0,2017-01-03 20:00:00
17411,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0,2017-01-03 21:00:00
17412,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0,2017-01-03 22:00:00
17413,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0,2017-01-03 23:00:00

In [7]:
df["wind_speed"]**2

0         36.00
1         25.00
2          0.00
3          0.00
4         42.25
          ...
17409    361.00
17410    441.00
17411    576.00
17412    529.00
17413    484.00
Name: wind_speed, Length: 17414, dtype: float64

In [8]:
np.sin(df["wind_speed"]**2+10)

0        0.901788
1       -0.428183
2       -0.544021
3       -0.544021
4        0.915631
           ...
17409    0.287932
17410   -0.983582
17411    0.995681
17412   -0.976578
17413   -0.696102
Name: wind_speed, Length: 17414, dtype: float64

In [9]:
#operaciones entre columnas
df["t1"]-df["t2"]

0        1.0
1        0.5
2        0.0
3        0.0
4        2.0
        ...
17409    4.0
17410    4.0
17411    4.0
17412    4.0
17413    4.0
Length: 17414, dtype: float64

In [10]:
df["t1"].iloc[::2]

0        3.0
2        2.5
4        2.0
6        1.0
8        1.5
        ...
17404    6.0
17406    6.0
17408    5.0
17410    5.0
17412    5.5
Name: t1, Length: 8707, dtype: float64

In [11]:
def Fun_uno(x):
    y = x**2+1
    return y

In [12]:
Fun_uno(10)

101

In [13]:
muestra = np.arange(-5,6)

In [14]:
Fun_uno(muestra)

array([26, 17, 10,  5,  2,  1,  2,  5, 10, 17, 26])

In [18]:
df["t1"].apply(Fun_uno)

0        10.00
1        10.00
2         7.25
3         5.00
4         5.00
         ...
17409    26.00
17410    26.00
17411    31.25
17412    31.25
17413    26.00
Name: t1, Length: 17414, dtype: float64

In [20]:
def Fun_dos(x,a=1,b=0):
    y = x**2 + a*x+b
    return y

In [21]:
Fun_dos(muestra)

array([20, 12,  6,  2,  0,  0,  2,  6, 12, 20, 30])

In [22]:
df["t1"].apply(Fun_dos,args=(20,-100))

0       -31.00
1       -31.00
2       -43.75
3       -56.00
4       -56.00
         ...
17409    25.00
17410    25.00
17411    40.25
17412    40.25
17413    25.00
Name: t1, Length: 17414, dtype: float64

In [23]:
#cambiar la temperatura de c a kelvin
df["t1"].apply(lambda x:x+270)

0        273.0
1        273.0
2        272.5
3        272.0
4        272.0
         ...
17409    275.0
17410    275.0
17411    275.5
17412    275.5
17413    275.0
Name: t1, Length: 17414, dtype: float64

In [33]:
#conocer el promedio en filas
df.apply(lambda x:x.mean())

cnt                               1143.101642
t1                                  12.468091
t2                                  11.520836
hum                                 72.324954
wind_speed                          15.913063
weather_code                         2.722752
is_holiday                           0.022051
is_weekend                           0.285403
season                               1.492075
hora            2016-01-03 22:31:00.571953664
dtype: object

In [37]:
#conocer el promedio en filas
df.apply(lambda x:x.std())

cnt                             1085.108068
t1                                 5.571818
t2                                 6.615145
hum                               14.313186
wind_speed                          7.89457
weather_code                       2.341163
is_holiday                         0.146854
is_weekend                         0.451619
season                             1.118911
hora            211 days 05:11:06.233727904
dtype: object

In [38]:
df.applymap(lambda x:x/1000)

TypeError: unsupported operand type(s) for /: 'Timestamp' and 'int'