In [1]:
import numpy as np
import pandas as pd

pd.__version__

'1.3.4'

In [2]:
df_pob = pd.read_csv("./db_bien/poblacion.csv")
df_pob

                       Country  year           pop
0                  Afghanistan  2015  3.441360e+07
1                      Albania  2015  2.880703e+06
2                      Algeria  2015  3.972802e+07
3               American Samoa  2015  5.581200e+04
4                      Andorra  2015  7.801100e+04
...                        ...   ...           ...
1035  Pre-demographic dividend  2018  9.194854e+08
1036              Small states  2018  4.057532e+07
1037                South Asia  2018  1.814389e+09
1038   South Asia (IDA & IBRD)  2018  1.814389e+09
1039        Sub-Saharan Africa  2018  1.078307e+09

[1040 rows x 3 columns]

In [3]:
df_pob["year"] = pd.Categorical(df_pob["year"].apply(str))

In [4]:
df_pob.dtypes

Country      object
year       category
pop         float64
dtype: object

In [7]:
df_sample = df_pob[["Country","year","pop"]]
df_sample

                       Country  year           pop
0                  Afghanistan  2015  3.441360e+07
1                      Albania  2015  2.880703e+06
2                      Algeria  2015  3.972802e+07
3               American Samoa  2015  5.581200e+04
4                      Andorra  2015  7.801100e+04
...                        ...   ...           ...
1035  Pre-demographic dividend  2018  9.194854e+08
1036              Small states  2018  4.057532e+07
1037                South Asia  2018  1.814389e+09
1038   South Asia (IDA & IBRD)  2018  1.814389e+09
1039        Sub-Saharan Africa  2018  1.078307e+09

[1040 rows x 3 columns]

In [8]:
#crear multiples indices
df_sample = df_sample.set_index(["Country","year"]).sort_index()

In [9]:
df_sample

                         pop
Country     year
Afghanistan 2015  34413603.0
            2016  35383128.0
            2017  36296400.0
            2018  37172386.0
Albania     2015   2880703.0
...                      ...
Zambia      2018  17351822.0
Zimbabwe    2015  13814629.0
            2016  14030390.0
            2017  14236745.0
            2018  14439018.0

[1040 rows x 1 columns]

In [10]:
#filtrar por un indice
df_sample.loc["Colombia",:]

             pop
year
2015  47520667.0
2016  48171392.0
2017  48901066.0
2018  49648685.0

In [11]:
#filtrar por dos indices
df_sample.loc["Colombia",:].loc["2016",:]

pop    48171392.0
Name: 2016, dtype: float64

In [12]:
df_sample.xs(["Aruba"])

/tmp/ipykernel_23158/1036030766.py:1: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  df_sample.xs(["Aruba"])

           pop
year
2015  104341.0
2016  104872.0
2017  105366.0
2018  105845.0

In [13]:
df_sample.xs(["Aruba","2018"])

/tmp/ipykernel_23158/1934847498.py:1: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  df_sample.xs(["Aruba","2018"])

pop    105845.0
Name: (Aruba, 2018), dtype: float64

In [14]:
df_sample.xs("2018",level="year")

                              pop
Country
Afghanistan            37172386.0
Albania                 2866376.0
Algeria                42228429.0
American Samoa            55465.0
Andorra                   77006.0
...                           ...
Virgin Islands (U.S.)    106977.0
West Bank and Gaza      4569087.0
Yemen, Rep.            28498687.0
Zambia                 17351822.0
Zimbabwe               14439018.0

[260 rows x 1 columns]

In [15]:
df_countries = df_pob(["country","year"]).sort_index(ascending=[False,True])
df_countries

TypeError: 'DataFrame' object is not callable